@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    background-color: hsl(185, 41%, 84%);
    position: absolute;
    top: 120px;
    left: 400px;
}
.head{
    color:  hsl(183, 100%, 15%);
    letter-spacing: 15px;
    text-align: center;
    font-size: 22px;
    font-family: monospace;
}
.Cash{
    background-color: hsl(0, 0%, 100%);
    width: 700px;
    height: 370px ;
    border-radius:25px; 
    margin-top: 50px;
    padding-left: 50px;
    padding-top: 50px;
    font-family: monospace;
    font-size: 16px;
    color:hsl(186, 14%, 43%);
}
input{
    width: 265px;
    height: 40px;
    background-color:hsl(189, 41%, 97%);
    border-radius: 7px;
    border-style: none;
    margin-top: 10px;
}
li{
    list-style: none;
    display:flex;
    justify-items: center;
    align-items: center;
}
.dola{
    background-color: hsl(183, 100%, 15%);
    width: 350px;
    height: 320px;
    margin-left: 337px;
    margin-top: -395px;
    border-radius: 15px;
    padding-left: 35px;
    padding-top: 50px;
    color: hsl(0, 0%, 100%);
}
#reset{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 35px;
    border-radius: 5px;
    font-family: monospace;
    margin-bottom: 30px;
    font-size: 16px;
    background-color:hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
    border-style: none;
}
.dol{
    position:sticky;
    margin-left: 180px;
    margin-top:-115px;
    color:hsl(172, 77%, 65%);
    font-size: 35px;
    font-family: monospace;
}
p8{
    color: hsl(184, 14%, 56%);
}
button{
    width: 75px;
    height: 35px;
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-style: none;
}
.Custom{
    background-color:hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    border-style: none  ;
}
input::placeholder{
    text-align:right;
}

